@import 'normalize';

html, body{
	font-family: sans-serif;
	background: #7bb951;
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding: 5% 0;
}

h1{
	text-align: center;
	color: #ffffff;
}

#logo{
	width: 256px;
	height: 256px;
}